
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*Presets*/

body {
	margin:0;
}


hr{
  width: 65%;
  margin-left: 1em;
  color: #000000;	
}

iframe {
  z-index: 0;
  height:100%;
  width: 100%;
  top:0;
  left:0;
  /*margin-top: -150px;*/
  position:absolute;
}

/*LEFT NAVIGATION BAR*/
.navBox {
  width: 15em;
  float: left;
  display: block;
  height:100%;

  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;  
  transition: all 0.3s ease 0s;
}

.topbox {
  padding-top: 2em;
  box-shadow: 2px 0px 10px rgb(187, 187, 187);
  height: 100%;
  z-index: 4;
}

.logo {
	text-align: center;
	margin-bottom:1em;
}

nav {
  position:fixed;
  top:0;
  left:0;
  width:15em;
  background-color:#FFFFFF;
  opacity: 0.9;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-nav img {
	/*position:absolute;*/
	width:3em;
	height:3em;
	top:0;
	left:0;
}

.button-item-nav {
  display:flex; /* for some reason display:flex must be on both topbox and buttonnav :/ */
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-item-nav p{
  font-size: 1em;
  margin:0;
  padding-left:1em;
  font-family: 'Hind', serif;
  color: #000000;
  text-decoration: none;
}

.button-item-nav a {
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  font-weight:bolder;
  font-size:0.8em;

  color: #222222;
  letter-spacing:5px;
  flex-grow: 1;  
  flex-basis: 0.4em;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

  text-align: center;
  padding: 1em 2.5em;
  
}

.line{ /*In charge of the moving line*/
    position: absolute;
    left:0;
    width: 0%;
    height: 3px;
    background:rgba(255, 0, 49, 0.89);
    margin-top:2.3em;
    margin-left:35%;
    transition: all 0.5s;
}

.button-item-nav:hover .line{
 /* background-color:#00CEFF;*/
    transition:0.5s;
    width:30%;
    left:0;
}

.button-item-nav:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-timing-function: ease-out;
}

.social-media {
  margin-top:1.1em;
  margin-bottom:1.1em;
  display:block
  width:100%;
  text-align:center;
  bottom:0;
}

.facebook img {
  display:block;
  margin:1em auto;
  width:3em;
}

.twitter img {
  display:block;
  margin:1em auto;
  width:3em;
}

.instagram img {
  display:block;
  margin:1em auto;
  width:3em;
}



/*TASTE BUTTONS ON RESTLIST*/
.taste-buttons {
	display:flex;
	position:absolute;
  	bottom:0;
  	width:100%;
  	background-color: rgba(215, 132, 2, 1);
}

.taste-item-nav {
	flex-grow:1;
	font-family: 'Montserrat', serif;
  	text-transform: uppercase;
 	font-weight:bolder;
  	font-size:0.8em;
  	text-align:center;
  	padding: 1em 1em;
  	/*background-color: #000000;*/
  	opacity: 0.6;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
  	 transition: all 0.3s ease 0s;
  	 position:relative;
}

.taste-item-nav:hover {
	opacity: 0.8;
}

.taste-item-nav a {
	padding-left:30%;
	padding-right:30%;
	padding-top:1em;
	padding-bottom:1em;
	color:#FFFFFF;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

/*SELECTION BOXES FOR ALL SITES*/
.box {
	display: flex;
	margin-left: 15em;
	position:relative;
	border-left-style:solid;
	border-width:1px;
  border-color:#FFFFFF;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.box-item-nav-1 {
	position:relative;
/*	border-style:solid;
	border-width:2px 1px;
	border-color:#FFFFFF;
	border: 1px #000000 solid;*/
	flex-grow:1;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.box-item-nav-1:hover {
	min-width:53%;
	background-color: rgba(215, 132, 2, 1);
}


.box-item-nav-2 {
	position:relative;
	-ms-flex-grow:1;
	flex-grow:1;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.box-item-nav-2:hover {
	min-width:40%;
	background-color: rgba(215, 132, 2, 1);
}




/*FOR RESERVATION PAGE*/
.reservation{
	border: 2px solid #000000;
	padding:1em;
	color: teal;
}



/*IN CHARGE OF PICTURES IN RESTDETAILS AND OTHERS*/

.picture-test { /*DELETE THIS FOR FINAL*/
  background: url('../image/pepperlunch.jpg');
  background-size: cover;
  width:100%;
  height:12.5em;
} 

.picture  { /*Cover photo for RESTLIST page*/
/*	background:url('../image/metro.jpg');
	background-repeat: no-repeat;
	background-size:cover;*/
	width:100%;
	height:22em;
	position:relative;
}

.picture h2 {
  position: absolute;
  top: 3em;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.86);
  padding: 1em;
  margin: 1em;
  font-weight: lighter;
}

.medinacover {
	background: url('../image/medinacover.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:22em;
	position:relative;
}

.trending {
	background: url('../image/trending.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:15em;
	position:relative;
	opacity:0.7;
}

.salty {
	background: url('../image/salty.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:15em;
	position:relative;
	background-color:#FFFFFF;
	opacity:0.7;
}

.sour {
	background: url('../image/citrus.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:15em;
	position:relative;
	opacity:0.7;
}

.sweet {
	background: url('../image/macarons.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:15em;
	position:relative;
	opacity:0.7;
}

.pepperlunch {
	background: url('../image/pepperlunch.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
  opacity:0.8;
}

.ramen {
	background: url('../image/ramen2.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
  opacity:0.8;
}


	.ramen p {
		color:#ffffff;
	}

.gyo {
	background: url('../image/gyo.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
  opacity:0.8;
}

	.gyo p {
		color:#ffffff;
	}

.medina {
	background: url('../image/medina.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
  opacity:0.8;
}

	.medina p {
		color:#ffffff;
	}


.dinesty {
	background: url('../image/dinesty.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
  opacity:0.8;
}

	.dinesty p{
		color:#ffffff;
	}


.hubrestaurant {
	background: url('../image/hubrestaurant.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
  opacity:0.8;
}

	.hubrestaurant p {
		color:#ffffff;
	}

.meatbread {
	background: url('../image/meatbread.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
  opacity:0.8;
}

	.meatbread p {
		color:#ffffff; 
	}


/*RESTDETAILS and RESRVATIONS FOR TEXTBOX*/

.text {
	position:absolute;
	top:1em;
	left:1em;
}

.text h2 {
	font-weight:lighter;
	color:#FFFFFF;
}

.text h3{
	font-weight:lighter;
	color:#FFFFFF;
	/*background-color: rgb(67, 203, 173);*/
	background-color:#000000;
	padding: 0.35em;
}

.text h4{
  font-weight:lighter;
  color:#000000;
  border: 1px solid #000000;
  padding:0.35em;
}


.list-description {
  margin-bottom:1em;
  /*padding-bottom:1em;*/
}


  .list-description p {
    width: 65%;
    line-height: 1.4em;
    letter-spacing: 0.26em;
    word-spacing: 0.5em;
    font-weight: bold;
    text-align: justify;
    color: #080808;
    transition: all 0.3s;
  }

  .list-description:hover p{
    color:#FFFFFF;
  }

  .list-description strong{
    width: 65%;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    font-weight: bolder;
    text-align: justify;
    color: #000000;
  }

  .list-description em{
    color:rgba(255, 0, 49, 0.89);
  }

.text-box {
	display:flex;
	margin-left:15em;
	margin-bottom:1em;
	
}

.align-description{
  padding-right:2em;
  padding-left:1em;
  padding-top:1.5em;
  background-color:rgba(207,207,207,0.69);
}

.description {
	-ms-flex-grow:2;
	flex-grow:2;
}

  .description p {
    padding-left:-1em;
    text-align:left;
    letter-spacing:0.2em;
    word-spacing:0.2em;
    line-height:1.2em;
  }

  .description h2{
    text-align:left;
  }

.descriptionpictures {
	flex-wrap:wrap;
}

.wrap {
	display:flex;
}

.review {
	margin-top:1em;
	display:block;
}

.review p {
	text-align:left;
	padding-right:2em;
	padding-left:1em;
	margin-top:2em;
	display:inline-block;
  letter-spacing:0.1em;
}

.dp {
	background: url(http://placehold.it/100x100);
	background-size:100% 100%;
	display:block;
	width:4.5em;
	min-height:4.5em;
	margin-left:auto;
	margin-right:auto;

}



/*FORM RESERVATIONS*/
input {
	display:inline-block;
}

.comment {
  margin:1em;
  text-align:center;
}
.comment h3{
  display:inline-block;
}

#form-name{
  border-bottom: solid 2px #000000;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  overflow:hidden;
  background-color: #FFFFFF;
  color: #DDAC72;
  padding: 0.7em;
  width:60%;
  text-align: center;
}

#form-name-review{
  border-bottom: solid 2px #000000;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  background-color: #FFFFFF;
  color: #DDAC72;
  padding: 0.3em;
  text-align: center;
  width:100%;
}

#form-comment{
  border-bottom: solid 2px #000000;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  background-color: #FFFFFF;
  color: #DDAC72;
  text-align: center;
  width:100%;
}

select{
  background-color:transparent;
  color:#000000;
  width:60%;

  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  font-weight:bolder;

  border-style:solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: #000000;
}

select:-ms-expand {
  background-color: transparent;
  color:#000000;
}

.text-box h3 {
	margin-top:1em;
  color: rgb(205, 47, 74);
}

.submit-nav { /*BUTTONS FOR RESTDETALS*/
  margin-top:2em;
  display: block;
  padding: 0.3em 1.5em;
  font-family: 'Montserrat', serif;
  font-size:12px;
  letter-spacing:0.2em;
  /*border-radius: 0.5em;*/
  font-weight:bolder;
  text-transform: uppercase;
  display: inline-block;
  border-style: solid;
  border-width:2px;
  border-color:#000000;
  color:#000000;
  padding:0.5em;
  background-color: rgba(226, 35, 72, 1);
  width:40%;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
}

.submit-nav:hover, .submit-nav:focus {
  background-color:  #E5E1E5;
  border-color:  #E5E1E5;
}

.submit-nav a:hover {
  color: #000000;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.submit-nav a {
    text-decoration:none;
    color: #000000;
}

.submit-nav2 { /*BUTTONS FOR RESERVATIONS*/
  margin-top:2em;
  display: block;
  padding: 0.3em 1.5em;
  font-family: 'Montserrat', serif;
  font-size:12px;
  border-radius: 0.5em;
  font-weight:bolder;
  text-transform: uppercase;
  display: inline-block;
  border-style: solid;
  border-width:1px;
  border-color:#000000;
  width:30%;
  -ms-transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
}

.submit-nav2:hover, .submit-nav2:focus {
  background-color:  #E5E1E5;
  border-color:  #E5E1E5;
}

.submit-nav2 a:hover {
  color: #000000;
  -ms-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.submit-nav2 a {
    text-decoration:none;
    color: #000000;
}


/*THIS WAS OR THE MENU IN RESTDETAILS*/
.menu {
	position:relative;
}

.menu:hover>.col-mof4 {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}



/* ABOUT PAGE */
.about {
	background: url('../image/about.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;
}

.about-content {
	margin-top:1.5em;
	margin-left:1.5em;
	margin-right:1.5em;
}

.employer1 {
	background: url('../image/employer1.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;

}

.employer2 {
	background: url('../image/employer2.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;
}

.employer3 {
	background: url('../image/employer3.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;
}

.employer4 {
	background: url('../image/employer4.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;
}

/* CONTACT PAGE*/
#contact-comment{
  border: solid 1px #000000;
  background-color: #FFFFFF;
  color: #DDAC72;
  padding: 0.7em;
  text-align: center;
  width:90%;
  height:17.5em;
}


/* CODE FOR BOUNCING TO THE RIGHT */
.hvr-bounce-to-right {
  width:100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
}


.hvr-bounce-to-right h1 {
	position:absolute;
	color:#FFFFFF;
	bottom:0;
	z-index:3;
	  background-color: #000000;
	  padding: 0.35em;
	  margin: 1em;
}

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../image/trending-foods-spicy.png');
  background-size: 90%;
  background-repeat:no-repeat;
  /*opacity:0.6;*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*SALTY*/
.hvr-bounce-to-right-salty {
  width:100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
}

.hvr-bounce-to-right-salty h1 {
	position:absolute;
	color:#FFFFFF;
	bottom:0;
	z-index:3;
	  background-color: #000000;
	  padding: 0.35em;
	  margin: 1em;
}
.hvr-bounce-to-right-salty:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../image/trending-foods-salty.png');
  background-size: 90%;
  background-repeat:no-repeat;
  /*opacity:0.6;*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right-salty:hover, .hvr-bounce-to-right-salty:focus, .hvr-bounce-to-right-salty:active {
  color: white;
}
.hvr-bounce-to-right-salty:hover:before, .hvr-bounce-to-right-salty:focus:before, .hvr-bounce-to-right-salty:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/* SWEET*/
.hvr-bounce-to-right-sweet {
  width:100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
}

.hvr-bounce-to-right-sweet h1 {
	position:absolute;
	color:#FFFFFF;
	bottom:0;
	z-index:3;
	  background-color: #000000;
	  padding: 0.35em;
	  margin: 1em;
}
.hvr-bounce-to-right-sweet:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../image/trending-foods-sweet.png');
  background-size: 90%;
  background-repeat:no-repeat;
  /*opacity:0.6;*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right-sweet:hover, .hvr-bounce-to-right-sweet:focus, .hvr-bounce-to-right-sweet:active {
  color: white;
}
.hvr-bounce-to-right-sweet:hover:before, .hvr-bounce-to-right-sweet:focus:before, .hvr-bounce-to-right-sweet:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* SOUR*/
.hvr-bounce-to-right-sour {
  width:100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
}

.hvr-bounce-to-right-sour  h1 {
	position:absolute;
	color:#FFFFFF;
	bottom:0;
	z-index:3;
	  background-color: #000000;
	  padding: 0.35em;
	  margin: 1em;
}
.hvr-bounce-to-right-sour:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../image/trending-foods-sour.png');
  background-size: 90%;
  background-repeat:no-repeat;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right-sour:hover, .hvr-bounce-to-right-sour:focus, .hvr-bounce-to-right-sour:active {
  color: white;
}
.hvr-bounce-to-right-sour:hover:before, .hvr-bounce-to-right-sour:focus:before, .hvr-bounce-to-right-sour:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/*THIS WAS FOR A TEST, DELETE AFTER */
.dd {
	width:100%;
	position:relative;
}

.word-layer {
	width:100%;
	height:100px;
	background:#000000;
	opacity:0.5;
	z-index:4;
}

.dd>.word-layer {
	position: absolute;

	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s ease-out;
	transition: visibility 0s linear 0.5s, opacity 0.5s ease-out;
}

.dd:hover>.word-layer {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.word-layer:hover {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

/*UP TILL HERE*/

/*NEWS*/
.news-image {
  background: url(http://placehold.it/800x450);
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  height:13em;
  position:relative;
  
}

.news-text {
  margin:2.0em;
  position:relative;
  text-align:left;

}

  .news-text h2 {
    text-align:left;
    letter-spacing:0.1em;
  }

  .news-text h3{
    background-color: rgb(253, 227, 98);
  }

  .news-text p{
    letter-spacing: 0.2em;
    width:50%;
  }

.read-more {
  position:absolute;
  bottom:-1.5em;
  right:0;
}

.next-page {
  float:right;
  padding:1em;
}




/*OTHERS*/

.hide {
  visibility: hidden;
  opacity: 0;
}





@media(max-width: 50em) {


  .facebook img {
  display:inline;
  margin:1em 1em;
  width:3em;
  }

  .twitter img {
  display:inline;
  margin:1em 1em;
  width:3em;
  }

.instagram img {
  display:inline;
  margin:1em 1em;
  width:3em;
}

	.button-item-nav{
		margin-left: 5em;
		margin-right:5em;
	}

		iframe{
		z-index: -1;
	  	height:100%;
	  	width: 100%;

	}


	.navBox {
  	width: 100%;
	  float: left;
	}

	nav {
	  position:relative;
/*	  top:0;
	  left:0;*/
	  width: 100%;
	  background-color:#FFFFFF;
	  opacity: 0.9;
	}

	.box-item-nav-1:hover {
		min-width:50%;
	}

	.box {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin:0;
	}

	.taste-buttons {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.text-box {
		-ms-flex-wrap: wrap;
		flex-wrap:wrap;
		width:100%; 
		margin-left:0;
	}


	.review p {
		text-align:left;
		padding-right:0;
		padding-left:0;
    margin-top:1em;
		margin-left:0;
		display:inline-block;
    letter-spacing:0.1em;
	}

	.hvr-bounce-to-right:before { /* Centers the spicty bounce thing*/
		  background: url('../image/trending-foods-spicy.png');
		  background-size: contain;
		  background-position:center;
		  background-repeat: no-repeat;
	}

  #contact-comment{
    width:60%;
    height:6.5em;
  }

}

@media(max-width: 35em) {

	.navBox {
	  width: 100%;
	  float: left;
	}

	nav {
	  position:relative;
	  top:0;
	  left:0;
	  width: 100%;
	  background-color:#FFFFFF;
	  opacity: 0.9;
	}

	.box {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin:0;
	}

}
