/* APPY'S STYLE GUIDE  */


.box-style{
    -ms-flex-wrap: wrap;
    -moz-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
    margin:0;
}


.content-container{
  margin-left:15em;
}


.code {
  color: #000000;
  background-color:rgba(236, 24, 62, 0.64);
  padding: 1em;
  display: block;
  letter-spacing: 0.2em;
  overflow:auto;
}


#imagery h2, #layout h2, #typography h2, #colors h2, #integrated h2, #interactive-elements h2{
  padding:1em;
  color:#ffffff;
  background-color:rgba(215, 132, 2, 1);
}


/*
COLORS
*/

.code colour-change{
  background-color: pink;
}

.palette{
  margin:0;
  width:100%;
  float:left;
}

.color-sample-1{
  width:100px;
  height:100px;
  background-color: #000000;
  float:left;
}


.color-sample-3{
  width:100px;
  height:100px;
  background-color: #b8b8b8;
  float:left;
}


.color-sample-3{
  width:100px;
  height:100px;
  background-color: #ffffff;
  float:left;
}

.color-sample-4{
  width:100px;
  height:100px;
  background-color:rgba(215, 132, 2, 1);
  float:left;
}


.color-sample-5{
  width:100px;
  height:100px;
  background-color:rgba(255, 0, 49, 0.89);
  float:left;
}


/*layout*/

#layout{
  width:100%;
}





/* INTERACTIVE ELEMENTS -------------------
 an in-text link
 the navigation button style
 a submit and reset button for forms
 a text input field and a label        */



/* Styling for the navigation button */


/* Styling for In-text Link */
.intext-a{

}

.intext-a:hover{

}


/* Styling for Submit and Reset Buttons*/

.button-submit{

} /*Reference for Material shadow: http://codepen.io/iraycd/pen/dHrxv */


.button-submit:active, .button-submit-active{
 
}

/* Styling for Input field and label*/

#form-name{
 

}

#form-subject{

}

#form-comment{

}



/* TEXT ELEMENTS -------------------
 three levels of headings
 a paragraph
 bulletted list
 numbered lists                  */

h1{

}

h2{

}

h3{

}



p{
  font-size: 0.9em;
  margin:0;
  
  font-family: 'Hind', sans-serif;
  color: #000000;
  text-decoration: none;

  /*might cause text weirdness on site*/
  line-height: 1em;
  padding-top: 1em;
  padding-left: 1em;
  letter-spacing:0.2em;
}

ul{

}

ol{

}


  
/*  COMBINED ELEMENTS -------------------
 your main navigation
 a product listing                   */


nav {

}


.ul-product{

}

.ul-product:hover{

}

.ul-product p{


}


.ul-product:hover p{

}


@media(max-width: 50em){

    .content-container{
      margin:0;
    }

}


@media(max-width:35em){
    .content-container{
      margin:0;
    }
}


