
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*Presets*/

body {
	margin:0;
}

a {
	text-decoration:none;
}

h1 {
  font-size: 2.0em;
  margin:0;
  padding-left:0.5em;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

h2 {
  font-size: 1.3em;
  margin:0;
  padding-left:0.5em;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

h3 {
	font-size: 0.7em;
	margin:0;
 	font-family: 'Montserrat', serif;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
}

p {
  font-size: 1em;
  margin:0;
  padding-left:1em;
  font-family: 'Hind', serif;
  color: #000000;
  text-decoration: none;

  /*might cause text weirdness on site*/
  line-height: 1em;
  padding-top: 1em;
  padding-left: 1em;
}

hr{
  width: 65%;
  margin-left: 1em;
  color: #000000;	
}

iframe {
  z-index: 1;
  height:100%;
  width: 100%;
  top:0;
  left:0;
  /*margin-top: -150px;*/
  position:absolute;
}

/*Right Nav Bar*/
.navBox {
  width: 15em;
  float: left;
  display: block;
  height:100%;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;  
  transition: all 0.3s ease 0s;
}

.topbox {
	padding-top: 2em;
	/*background: url(http://placehold.it/200x100);
	background-repeat: no-repeat;*/
}

.logo {
	text-align: center;
	margin-bottom:1em;
}

nav {
  position:fixed;
  top:0;
  left:0;
  width:15em;
  background-color:#FFFFFF;
  opacity: 0.9;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-item-nav {
  display:flex; /* for some reason display:flex must be on both topbox and buttonnav :/ */
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

}


.button-item-nav p{
  font-size: 1em;
  margin:0;
  padding-left:1em;
  font-family: 'Hind', serif;
  color: #000000;
  text-decoration: none;
}

.button-item-nav a {
  font-family: 'Open Sans', serif;
  text-transform: uppercase;
  font-weight:bolder;
  font-size:0.8em;

  color: #000000;
  flex-grow: 1;  
  flex-basis: 0.4em;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

  text-align: center;
  padding: 1em 2.5em;
  
}

.button-item-nav:hover {
 /* background-color:#00CEFF;*/
    border-bottom:solid 3px #00CEFF;
}

.button-item-nav:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-timing-function: ease-out;
}


/* Taste Buttons */
.taste-buttons {
	display:flex;
	position:absolute;
  	bottom:0;
  	width:100%;
  	background-color: rgba(255, 255, 255, 0.55);
}

.taste-item-nav {
	flex-grow:1;
	font-family: 'Open Sans', serif;
  	text-transform: uppercase;
 	font-weight:bolder;
  	font-size:0.8em;
  	text-align:center;
  	padding: 1em 1em;
  	/*background-color: #000000;*/
  	opacity: 0.6;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
  	 transition: all 0.3s ease 0s;
}

.taste-item-nav:hover {
	opacity: 0.8;
}


.taste-item-nav a {

/*	border-style:solid;
  	border-width:1px;*/
	padding-left:30%;
	padding-right:30%;
	padding-top:1em;
	padding-bottom:1em;
	color:#FFFFFF;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}


/*Selection Boxes*/
.box {
	display: flex;
	margin-left: 15em;
	position:relative;
	border-style:solid;
	border-width:1px;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.box-item-nav-1 {
	position:relative;
/*	border-style:solid;
	border-width:2px 1px;
	border-color:#FFFFFF;*/
	border: 1px #000000 solid;
	flex-grow:1;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.box-item-nav-1:hover {
	min-width:53%;
	background-color: #000000;
}

.box-item-nav-2 {
	position:relative;
/*	border-style:solid;
	border-width: 2px;
	border-color:#FFFFFF;*/
	-ms-flex-grow:1;
	flex-grow:1;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.box-item-nav-2:hover {
	min-width:40%;
	background-color:#000000;
}




.reservation{
	border: 2px solid #000000;
	padding:1em;
	color: teal;
}




.picture  {
	/*background: url(http://placehold.it/500x200);*/
	/*background: url('../image/metro.jpg');*/
	background:url('../image/medinacover.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:22em;
	position:relative;
}

.medinacover {
	background: url('../image/medinacover.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:22em;
	position:relative;
}


.trending {
	background: url('../image/trending.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:15em;
	position:relative;
}

.salty {
	background: url('../image/salty.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:15em;
	position:relative;
}

.sour {
	background: url('../image/citrus.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:15em;
	position:relative;
}

.hvr-bounce-to-right h1 {
	position:absolute;
	color:#FFFFFF;
	bottom:0;
	z-index:3;
	  background-color: #000000;
	  padding: 0.35em;
	  margin: 1em;
}

.macarons {
	background: url('../image/macarons.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:15em;
	position:relative;
}

.picture h2 {
	position: absolute;
  	top: 3em;
 	color: #FFFFFF;
  	background-color: rgba(0, 0, 0, 0.86);
 	padding: 1em;
  	margin: 1em;
  	font-weight: lighter;
}

.picture-test {
	background: url('../image/pepperlunch.jpg');
	/*background: url(image/metro.jpg);*/
	background-size: cover;
	width:100%;
	height:12.5em;
} 

.pepperlunch {
	/*background: url('../image/pepperlunch.jpg');*/
	background-size: cover;
	width:100%;
	height:12.5em;
}

.random {
	background: url('../img/ramen2.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
}

	.random p {
		color:#ffffff;
	}

.gyo {
	background: url('../image/gyo.png');
	background-size: cover;
	width:100%;
	height:12.5em;
}

	.gyo p {
		color:#ffffff;
	}

.medina {
	background: url('../image/medina.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
}

	.medina p {
		color:#ffffff;
	}


.dinesty {
	background: url('../image/dinesty.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
}

	.dinesty p{
		color:#ffffff;
	}


.hubrestaurant {
	background: url('../image/hubrestaurant.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
}

	.hubrestaurant p {
		color:#ffffff;
	}

.meatbread {
	background: url('../image/meatbread.jpg');
	background-size: cover;
	width:100%;
	height:12.5em;
}

	.meatbread p {
		color:#ffffff; 
	}


.text {
	position:absolute;
	bottom:1em;
	left:1em;
}

.text h2 {
	font-weight:lighter;
	color:#FFFFFF;
}

.text h3{
	font-weight:lighter;
	color:#FFFFFF;
	/*background-color: rgb(67, 203, 173);*/
	background-color:#000000;
	padding: 0.35em;
}


/*FORM*/
.form {
	display:inline-block;
}

.text-box {
	display:flex;
	margin-left:15em;
	margin-bottom:1em;
	
}

.description {
	padding:1em;
	-ms-flex-grow:2;
	flex-grow:2;
}

.descriptionpictures {
	flex-wrap:wrap;
}

.wrap {
/*	border-style:solid;
	border-width:1px;*/
	display:flex;
}

.review {
	margin-top:1em;
	display:block;
}



.review p {
	text-align:left;
	padding-right:2em;
	padding-left:0;
	margin-top:2em;
	display:inline-block;
}

.dp {
	background: url(http://placehold.it/100x100);
	background-size:100% 100%;
	display:block;
	width:4.5em;
	min-height:4.5em;
	margin-left:auto;
	margin-right:auto;

}

.comment {
	margin:1em;
}
.comment h3{
	display:inline-block;
}



.res-box {
	margin-left:15em;
}

/*FORM*/
input {
	display:inline-block;
}


#form-name{
  border-bottom: solid 2px #000000;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  overflow:hidden;
  background-color: #FFFFFF;
  color: #DDAC72;
  padding: 0.7em;
  width:60%;
  text-align: center;

}

#form-name-review{
  border-bottom: solid 2px #000000;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  background-color: #FFFFFF;
  color: #DDAC72;
  padding: 0.3em;
  text-align: center;
  width:60%;
}

#form-comment{
border-bottom: solid 2px #000000;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  background-color: #FFFFFF;
  color: #DDAC72;
  padding: 0.7em;
  text-align: center;
  width:95%;
  height:2em;
}


select{
  background-color:transparent;
  color:#000000;
  width:60%;

  font-family: 'Open Sans', serif;
  text-transform: uppercase;
  font-weight:bolder;

  border-style:solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: #000000;
}

select:-ms-expand {
  background-color: transparent;
  color:#000000;
}

.text-box h3 {
	margin-top:1em;
}

.submit-nav {
  margin-top:2em;
  display: block;
  padding: 0.3em 1.5em;
  font-family: 'Open Sans', serif;
  font-size:12px;
  border-radius: 0.5em;
  font-weight:bolder;
  text-transform: uppercase;
  display: inline-block;
  border-style: solid;
  border-width:1px;
  border-color:#000000;
  width:50%;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
}

.submit-nav:hover, .submit-nav:focus {
  background-color:  #E5E1E5;
  border-color:  #E5E1E5;
}

.submit-nav a:hover {
  color: #000000;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.submit-nav a {
    text-decoration:none;
    color: #000000;
}

.submit-nav2 {
  margin-top:2em;
  display: block;
  padding: 0.3em 1.5em;
  font-family: 'Open Sans', serif;
  font-size:12px;
  border-radius: 0.5em;
  font-weight:bolder;
  text-transform: uppercase;
  display: inline-block;
  border-style: solid;
  border-width:1px;
  border-color:#000000;
  width:30%;
  -ms-transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
}

.submit-nav2:hover, .submit-nav2:focus {
  background-color:  #E5E1E5;
  border-color:  #E5E1E5;
}

.submit-nav2 a:hover {
  color: #000000;
  -ms-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.submit-nav2 a {
    text-decoration:none;
    color: #000000;
}


.menu {
	position:relative;
}

.menu:hover>.col-mof4 {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}



/* ABOUT PAGE */
.about {
	background: url('../image/about.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;
}

.about-content {
	margin-top:1.5em;
	margin-left:1.5em;
	margin-right:1.5em;
}

.employer1 {
	background: url('../image/employer1.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;

}

.employer2 {
	background: url('../image/employer2.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;
}

.employer3 {
	background: url('../image/employer3.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;
}

.employer4 {
	background: url('../image/employer4.jpg') center center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	height:19em;
	position:relative;
}

/* CONTACT*/
#contact-comment{
  border: solid 1px #000000;
  background-color: #FFFFFF;
  color: #DDAC72;
  padding: 0.7em;
  text-align: center;
  width:90%;
  height:17.5em;
}






/* Bounce To Right */
.hvr-bounce-to-right {
  width:100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../image/trending-foods-spicy.png');
  background-size: 90%;
  background-repeat:no-repeat;
  /*opacity:0.6;*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.dd {
	width:100%;
	position:relative;
}

.word-layer {
	width:100%;
	height:100px;
	background:#000000;
	opacity:0.5;
	z-index:4;
}

.dd>.word-layer {
	position: absolute;

	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s ease-out;
	transition: visibility 0s linear 0.5s, opacity 0.5s ease-out;
}

.dd:hover>.word-layer {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.word-layer:hover {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}



[class^='col-'] { /*only select things that begin with col- */
  float:left;
  padding:0;
}


/*GRID TEST */

.grid {
	display:block;
	position:relative;
	margin-left:15em;
}

[class^='col-'] { /*only select things that begin with col- */
  float:left;
  padding:0;
  text-align: center;
}


.col-1of4 {
	border-width:1px;
	display: block;
	width:25%;
	/*min-height:8em;*/
}


.col-2of4 {
/*	border-style:solid;
	border-width:1px;*/
	display: block;
	width:50%;
	/*min-height:10em;*/
	position:relative;
}


.col-3of4{
/*	border-style:solid;
	border-width:1px;*/
	display: block;
	width:75%;
	/*min-height:20em;*/
	position:relative;
}

.col-mof4{
	/*background: url(http://placehold.it/500x500);*/
/*	border-style:solid;
	border-width:1px;*/
	display: block;
	width:200%;
	height:25em;
	position:absolute;
	bottom:0;
	z-index:3;
	-ms-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.hide {
	visibility: hidden;
	opacity: 0;
}

/*.col-mof4:hover{
	width:60em;
}*/


.col-4of4 {
	/*display: block;*/
	width:100%;
	position:relative;
}

@media(max-width: 50em) {

	.button-item-nav{
		margin-left: 5em;
		margin-right:5em;
	}

		iframe{
		z-index: -1;
	  	height:100%;
	  	width: 100%;

	}


	.navBox {
	  width: 100%;
	  height:auto;
	  float: left;
	  display: block;
	  border-width: 1px;
	  border-style:solid;
	}

	nav {
	  position:relative;
	  top:0;
	  left:0;
	  width: 100%;
	  background-color:#FFFFFF;
	  opacity: 0.9;
	}

	.box-item-nav-1:hover {
		min-width:50%;
		background-color: #000000;
	}

	.box {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin:0;
	}

	.taste-buttons {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.text-box {
		-ms-flex-wrap: wrap;
		flex-wrap:wrap;
		width:100%; 
		margin-left:0;
	}

	.col-1of4, .col-2of4, .col-3of4, .col-mof4 {
		width:100%;
		top:0;
		left:0;
		margin:0;
	}

	.review p {
		text-align:left;
		padding-right:0;
		padding-left:0;
		margin-top:0;
		margin-left:2em;
		margin-right:2em;
		display:inline-block;
	}


	/*.picture-test, .pepperlunch, .gyo, .random, .dinesty, .medina, .hubrestaurant, .meatbread {
		width:550px;
	}*/

}

@media(max-width: 35em) {



	.picture h2{
		/*margin-top:0;*/
		/* width:100%; */
	}

	.taste-buttons{
		background-color:#ffffff;
		

	}

	.taste-item-nav {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}


	.taste-item-nav {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}


	.navBox {
	  width: 100%;
	  float: left;
	  display: block;
	  border-width: 1px;
	  border-style:solid;
	}

	nav {
	  position:relative;
	  top:0;
	  left:0;
	  width: 100%;
	  background-color:#FFFFFF;
	  opacity: 0.9;
	}


	.box {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin:0;
	}

	.grid {
		margin:0;
	}

}
